Repository UAICP/uaicp_specification, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rishirandhawa, @specification-team, @technical-reviewers, @governance-team, @implementation-team, @core-developers, @qa-team, @patent-reviewers, @legal-team, @devops-team, @documentation-team, @security-team

feat: Add foundational governance, integration guides, tests, and reference implementations
  docs/integration-guides/MCP-INTEGRATION.md
  docs/integration-guides/OPENAI-INTEGRATION.md
  governance/CONTRIBUTING.md
  governance/GOVERNANCE.md
  governance/IP-POLICY.md
  reference-impl/discovery-mesh/README.md
  tests/COMPLIANCE-TESTS.md
Owners: @rishirandhawa, @specification-team, @governance-team, @implementation-team, @qa-team

docs: Add comprehensive project roadmap and management structure
  PROJECT-ROADMAP.md
Owners: @rishirandhawa

fix: Address CI/CD workflow issues and markdown formatting
  .cspell.json
  .github/workflows/ci.yml
  .github/workflows/validation.yml
  .markdownlint.yml
Owners: @rishirandhawa, @devops-team, @qa-team

feat: Add foundational governance, integration guides, tests, and reference implementations (#1)
  PROJECT-ROADMAP.md
  docs/integration-guides/MCP-INTEGRATION.md
  docs/integration-guides/OPENAI-INTEGRATION.md
  governance/CONTRIBUTING.md
  governance/GOVERNANCE.md
  governance/IP-POLICY.md
  reference-impl/discovery-mesh/README.md
  tests/COMPLIANCE-TESTS.md
Owners: @rishirandhawa, @specification-team, @governance-team, @implementation-team, @qa-team

fix: Address CI/CD workflow issues and markdown formatting (#13)
  .cspell.json
  .github/workflows/ci.yml
  .github/workflows/validation.yml
  .markdownlint.yml
Owners: @rishirandhawa, @devops-team, @qa-team

docs: Add next phase development prompt for UAICP continuation
  NEXT-PHASE-PROMPT.md
Owners: @rishirandhawa

🤝 Add community engagement automation for specification repository
  .github/workflows/community.yml
Owners: @rishirandhawa, @devops-team

🤝 Add community engagement automation for specification repository (#14)
  .github/workflows/community.yml
  NEXT-PHASE-PROMPT.md
Owners: @rishirandhawa, @devops-team

.github/CODEOWNERS:

# UAICP Specification Code Owners
# This file defines who should review specific parts of the codebase

# Global owners - these users will be requested for review on all PRs
* @rishirandhawa

# Specification documents
/docs/ @rishirandhawa @specification-team
/docs/specification/ @rishirandhawa @specification-team @technical-reviewers

# Governance files
/governance/ @rishirandhawa @governance-team
/governance/GOVERNANCE.md @rishirandhawa @governance-team
/governance/CHARTER.md @rishirandhawa @governance-team

# Reference implementation
/reference-impl/ @rishirandhawa @implementation-team
/reference-impl/src/core/ @rishirandhawa @core-developers
/reference-impl/tests/ @rishirandhawa @qa-team

# Patent-protected components (require additional review)
/reference-impl/src/adaptive-router/ @rishirandhawa @patent-reviewers @legal-team
/reference-impl/src/protocol-translation/ @rishirandhawa @patent-reviewers @legal-team

# Configuration files
/.github/ @rishirandhawa @devops-team
/.github/workflows/ @rishirandhawa @devops-team
/package.json @rishirandhawa @devops-team
/package-lock.json @rishirandhawa @devops-team

# Documentation
/README.md @rishirandhawa @documentation-team
/CONTRIBUTING.md @rishirandhawa @documentation-team
/LICENSE.md @rishirandhawa @legal-team

# Test configurations
/tests/ @rishirandhawa @qa-team
/.github/workflows/validation.yml @rishirandhawa @qa-team @devops-team

# Security-sensitive files
/.github/workflows/security.yml @rishirandhawa @security-team
/security/ @rishirandhawa @security-team
